In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

### Import Datasets

In [74]:
df = pd.read_csv('./data/vgsales.csv')
vg_reviews = pd.read_csv('./data/video_games_reviews.csv')
vg_reviews.drop(columns=['Unnamed: 0'],inplace=True)

In [75]:
df.head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [76]:
vg_reviews.head(5)

                         Name Platform        Year Review
0       Detroit: Become Human      PS4  Game, 2018     78
1                  God of War      PS4  Game, 2018     94
2  Resident Evil 7: biohazard      PS4  Game, 2017     86
3              Gears of War 4     XONE  Game, 2016     84
4         Marvel's Spider-Man      PS4  Game, 2018     87

### Data Cleaning Both datasets

In [77]:
vg_reviews.isna().sum()

Name        0
Platform    0
Year        0
Review      0
dtype: int64