In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

### Import Datasets

In [3]:
df = pd.read_csv('./data/vgsales.csv')
vg_reviews = pd.read_csv('./data/video_games_reviews.csv')
vg_reviews.drop(columns=['Unnamed: 0'],inplace=True)

In [4]:
df.head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [5]:
vg_reviews.head(5)

,Name,Platform,Year,Review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998",99
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",98
3,SoulCalibur,Dreamcast,"September 8, 1999",98
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",98

### Data Cleaning Both datasets

In [7]:
pd.to_datetime(vg_reviews['Year'], format='%Y',inplace=True)

0       2006-01-01
1       1985-01-01
2       2008-01-01
3       2009-01-01
4       1996-01-01
           ...
16593   2002-01-01
16594   2003-01-01
16595   2008-01-01
16596   2010-01-01
16597   2003-01-01
Name: Year, Length: 16598, dtype: datetime64[ns]